nsides.cnf
nsides-mongo.cnf

index/demos/

*.log

*.mtx

*.out

*.err

*.tgz

results_*

condor/AEOLUS_all_reports_alloutcomes.mtx

nsides-mongo-config.txt

packages/*

*~

*.pyc

*.ipynb_checkpoints


# Elastic Beanstalk Files
.elasticbeanstalk/*
!.elasticbeanstalk/*.cfg.yml
!.elasticbeanstalk/*.global.yml
# .ebignore


*client_secrets.json
