nsides.cnf
nsides-mongo.cnf
*client_secrets.json

*.log
*.mtx
*.out
*.err
*.tgz
*.crt
*.key
*~
*.pyc
*.ipynb_checkpoints

results_*
condor/AEOLUS_all_reports_alloutcomes.mtx
nsides-mongo-config.txt
packages/*

data/
job_api/example/venv/

.eslintrc
node_modules
bundle.js
.vscode
*#*#