/*

MANY of these styles are unnecessary but included for reference. Please remove unused items prior to final publishing.

*/
html, body
{
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;
}
svg {
    margin-left: auto; margin-right: auto;
    display: block;
}
line,
rect {
    shape-rendering: crispEdges;
}
.axis path,
.axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}
.x.axis path {
    /*display: none; Do we wish to show the x-axis? */
}
.divider {
    stroke: #b55554; /* #777; */
    stroke-dasharray: 5, 5;
    opacity: 0.7;
    
    stroke-width: 2;
}
.line {
    fill: none;
/*    stroke-width: 1.5px;*/
}
circle.dot {
    fill: #FFF;
    stroke-width: 1.5px;
}
.area.confidence {
    zoom: 1;
/*
    filter: alpha(opacity=10);
    opacity: 0.1;
*/
    filter: alpha(opacity=20);
    opacity: 0.2;
    
    fill: steelblue !important;
}
/**
.area.above {
    fill: #D7191C !important;
}

.area.below {
    fill: #2B83BA !important;
}
*/
#page {
    height:100%;
}
#root {
    /*height:100%;*/
    flex: 1;
}
#header {
    flex: 0 1 auto;
    /* The above is shorthand for:
    flex-grow: 0,
    flex-shrink: 1,
    flex-basis: auto
    */
}
#header-content {
    position:relative;
    /*padding-top:40px;*/
    height:120px;
    vertical-align: bottom;
}
#content {
    height:100%;
    width:100%;
    display: flex;
    flex-direction: column;

    justify-content: flex-start; /* align items in Main Axis */
    align-items: stretch; /* align items in Cross Axis */
    align-content: stretch; /* Extra space in Cross Axis */

    background: rgba(255, 255, 255, .1);
    /*flex: 1;*/
}
header, section, footer {
    max-width:850px;
    width: 100%;
    margin: 0 auto;
}
#bar {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
}
.drug_title {
    font-size: 22px;
    font-weight:bold;
    padding-top:25px;
    padding-bottom:5px;
}
.effect_title {
    font-size: 22px;
    font-weight:bold;
    padding-top:15px;
    padding-bottom:5px;
}
#viz_container {
    font: 10px sans-serif;
}
.select_container_effect {
    padding-left:10px;
}
.select_container, .select_container_effect {
    display: inline-block;
    width:45%;
}
/*.y text { display: none; }*/
.y text text-anchor { display: visible; }
.tick line{
    opacity: 0.2;
}
path { 
    stroke: steelblue;
    stroke-width: 2;
    fill: none;
}

.axis path,
.axis line {
    fill: none;
    stroke: grey;
    stroke-width: 1;
    shape-rendering: crispEdges;
}