@font-face {
    font-family: myriad;
    src: url('./MYRIADAT.eot');
    src: url('./MYRIADAT.TTF');
}
@font-face {
    font-family: myriad;
    src: url('./MYRIADAS.eot');
    src: url('./MYRIADAS.TTF');
    font-weight: bold;
}


