@font-face {
  font-family: myriad;
  src: url('fonts/MYRIADAT.eot') ;
  src: url('fonts/MYRIADAT.ttf') format('truetype');
}
@font-face {
  font-family: myriad;
  src: url('fonts/MYRIADAS.eot');
  src: url('fonts/MYRIADAS.ttf') format('truetype');
  font-weight: bold;
}


