{%extends "base.jinja2"%}

{%block title%}Job Submission{%endblock%}

{%block body%}
  {%include "header.jinja2"%}

    <div class="container">
        <div class="page-header">
            <h1>Job submission page</h1>
        </div>

            <form action="{{ url_for('submit_job') }}" method="POST">
                <div class="row">
                    <div class="col-md-6 col-md-offset-3">
                        <div class="form-group">
                            <label class="form-control-label" for="sel1">Model Type:</label>
                            <select class="" name="mtype" id="sel1">
                                <option value="-1">Select a model type</option>
                                <option value="dnn">dnn</option>
                                <option value="lrc">lrc</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label class="form-control-label">Model Index:</label>
                            <input type="text" class="form-control" name=model_index placeholder="2451">
                        </div>
                        <button type="submit" class="btn btn-primary">Submit Job</button>
                    </div>
                </div>
            </form>

  </div>
{%endblock%}
